<% let url = '/recipeDisplay?ID='; %> 

<div class="body">
    <h2> Chicken </h2>
        <ul>
        <% foods.forEach((food) => { %>
            <% if (food.Protein == 'Chicken') { %>
                <div class="hover-box" onmouseover="showPopup(this)" onmouseleave="hidePopup(this)">
                    <% let val = url + food.Recipe_FK; %> 
                    <a href=<%= val %>> <%= food.Product %></a>
                    <div class="popup">
                        <img src=<%= food.Img %> alt=<%= food.Img_alt %>>
                    </div>
                </div>
                <br>
            <% } %>
        <% }) %>
        </ul>
</div>
<div class="body">
    <h2> Beef </h2>
        <ul>
        <% foods.forEach((food) => { %>
            <% if (food.Protein == 'Beef') { %>
                <div class="hover-box" onmouseover="showPopup(this)" onmouseleave="hidePopup(this)">
                    <h3><%= food.Product %></h3>
                    <div class="popup">
                        <img src=<%= food.Img %> alt=<%= food.Img_alt %>>
                    </div>
                </div>
                <br>
            <% } %>
        <% }) %>
        </ul>
</div>
<div class="body">
    <h2> Grain </h2>
        <ul>
        <% foods.forEach((food) => { %>
            <% if (food.Protein == 'Grain') { %>
                <div class="hover-box" onmouseover="showPopup(this)" onmouseleave="hidePopup(this)">
                    <h3><%= food.Product %></h3>
                    <div class="popup">
                        <img src=<%= food.Img %> alt=<%= food.Img_alt %>>
                    </div>
                </div>
                <br>
            <% } %>
        <% }) %>
        </ul>
</div>
